$num: 0;
// Gap utility classes
$minGap: 1;        // Minimum value for gap
$maxGap: 50;        // Maximum value for gap
$gapUnit: 2px;    // Adjust this to your gap unit

@for $num from $minGap through $maxGap {
  .gap-#{$num} {
    // Perform division without the math module
    margin: calc($num * $gapUnit / 2) !important;
  }
}


// Display utility classes
.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-grid {
  display: grid !important;
}

/* Custom breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px; 
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* Media Queries */

@media (min-width: $breakpoint-xs) {
  .d-xs-block {
    display: block !important;
  }

  .d-xs-flex {
    display: flex !important;
  }
  .d-xs-none {
    display: none !important;
  }
}

@media (min-width: $breakpoint-sm) {
  .d-sm-block {
    display: block !important;
  }

  .d-sm-flex {
    display: flex !important; 
  }
  .d-sm-none {
    display: none !important;
  }

}

@media (min-width: $breakpoint-md) {
  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: $breakpoint-lg) {
  .d-lg-block {
    display: block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
} 

@media (min-width: $breakpoint-xl) {
  .d-xl-block {
    display: block !important;
  }

  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: $breakpoint-xxl) {
  .d-xxl-block {
    display: block !important; 
  }

  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}