$num: 0;
// Gap utility classes
$minGap: 1;        // Minimum value for gap
$maxGap: 50;        // Maximum value for gap
$gapUnit: 2px;    // Adjust this to your gap unit

@for $num from $minGap through $maxGap {
  .gap-#{$num} {
    // Perform division without the math module
    margin: calc($num * $gapUnit / 2) !important;
  }
}


// Display utility classes
.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-grid {
  display: grid !important;
}
