$num: 0;
$min_cqw: 1; // Minimum value for cqw
$max_cqw: 100; // Maximum value for cqw
$min_cqh: 1; // Minimum value for cqh
$max_cqh: 100; // Maximum value for cqh

// Dynamic media queries
$mobile_minwidth: 17.5px;
$mobile_maxwidth: 17.5px;
$mobile_minheight: 17.5px;
$mobile_maxheight: 17.5px;

$tablets_minwidth: 28px;
$tablets_maxwidth: 28px;
$tablets_minheight: 28px;
$tablets_maxheight: 28px;

$laptop_minwidth: 14.5px;
$laptop_maxwidth: 14.5px;
$laptop_minheight: 14.5px;
$laptop_maxheight: 14.5px;

$desktop_minwidth: 19.5px;
$desktop_maxwidth: 19.5px;
$desktop_minheight: 19.5px;
$desktop_maxheight: 19.5px;


$_minwidth: 25.5px;
$_maxwidth: 25.5px;
$_minheight: 25.5px;
$_maxheight: 25.5px;


.cqw-#{$num} {
  min-width: calc(#{$num} * #{$_minwidth}) !important;
  max-width: calc(#{$num} * #{$_maxwidth}) !important;
}
.cqh-#{$num} {
  min-height: calc(#{$num} * #{$_minheight}) !important;
  max-height: calc(#{$num} * #{$_maxheight}) !important;
}


// Mobile 
@media (max-width: 576px) and (min-height: 768px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      min-width: calc(#{$num} * #{$mobile_minwidth}) !important;
      max-width: calc(#{$num} * #{$mobile_maxwidth}) !important;
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      min-height: calc(#{$num} * #{$mobile_minheight}) !important;
      max-height: calc(#{$num} * #{$mobile_maxheight}) !important;
    }
  }
}
// Laptop 
@media (min-width: 768px) and (min-height: 1024px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      min-width: calc(#{$num} * #{$tablets_minwidth}) !important;
      max-width: calc(#{$num} * #{$tablets_maxwidth}) !important;      
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      min-height: calc(#{$num} * #{$tablets_minheight}) !important;
      max-height: calc(#{$num} * #{$tablets_maxheight}) !important;
    }
  }
}
// Tablet 
@media (min-width: 992px) and (min-height: 620px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      min-width: calc(#{$num} * #{$laptop_minwidth}) !important;
      max-width: calc(#{$num} * #{$laptop_maxwidth}) !important;
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      min-height: calc(#{$num} * #{$laptop_minheight}) !important;
      max-height: calc(#{$num} * #{$laptop_maxheight}) !important;
    }
  }
}
// Desktop 
@media (min-width: 1200px) and (min-height: 768px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      min-width: calc(#{$num} * #{$desktop_minwidth}) !important;
      max-width: calc(#{$num} * #{$desktop_maxwidth}) !important;
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      min-height: calc(#{$num} * #{$desktop_minheight}) !important;
      max-height: calc(#{$num} * #{$desktop_maxheight}) !important;
    }
  }
}



