$num: 50;
@while $num <= 100 {
  .w-#{$num} {
    width: #{$num}px !important;
  }
  .mw-#{$num} {
    max-width: #{$num}px !important;
  }
  .h-#{$num} {
    height: #{$num}px !important;
  }
  .mh-#{$num} {
    max-height: #{$num}px !important;
  }

  $num: $num + 100;
}

$container_width: 9.7px; // Adjust this to your container's width
$container_height: 9.7px; // Adjust this to your container's height
$min_cqw: 1; // Minimum value for cqw
$max_cqw: 100; // Maximum value for cqw
$min_cqh: 1; // Minimum value for cqh
$max_cqh: 100; // Maximum value for cqh

@for $num from $min_cqw through $max_cqw {
  .cqw-#{$num} {
    max-width: calc(#{$num} * #{$container_width}) !important;
  }
}

@for $num from $min_cqh through $max_cqh {
  .cqh-#{$num} {
    max-height: calc(#{$num} * #{$container_height}) !important;
  }
}

// Dynamic media queries
$mobile_width: 12px;
$mobile_height: 12px;

$tablets_width: 14px;
$tablets_height: 14px;

$laptop_width: 9.5px;
$laptop_height: 9.5px;

@media screen and (max-width: 480px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      max-width: calc(#{$num} * #{$mobile_width}) !important;
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      max-height: calc(#{$num} * #{$mobile_height}) !important;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      max-width: calc(#{$num} * #{$tablets_width}) !important;
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      max-height: calc(#{$num} * #{$tablets_height}) !important;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  @for $num from $min_cqw through $max_cqw {
    .cqw-#{$num} {
      max-width: calc(#{$num} * #{$laptop_width}) !important;
    }
  }
  @for $num from $min_cqh through $max_cqh {
    .cqh-#{$num} {
      max-height: calc(#{$num} * #{$laptop_height}) !important;
    }
  }
}







