body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-open-sans: "Open Sans";
  --font-nico-moji: "Nico Moji";
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-2xs: 11px;
  --font-size-69xl: 88px;

  /* Colors */
  --color-powderblue: #b5e2e2;
  --color-gray-100: rgba(25, 25, 25, 0.95);
  --color-gray-200: rgba(25, 25, 25, 0.9);
  --color-gray-300: rgba(3, 3, 3, 0.42);
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-6xs: 7px;
  --gap-7xs: 6px;
  --gap-578xl: 330px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-base: 16px;
}

@font-face {
  font-family: 'Nico-Moji';
  src:url('../fonts/Nico-Moji.ttf.woff') format('woff'),
      url('../fonts/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
      url('../fonts/Nico-Moji.ttf.eot'),
      url('../fonts/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.dashboard-header {
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background: linear-gradient(-111deg, rgb(11 90 93) 11%, rgb(24 118 121) 22%, rgb(11 88 91) 38%, rgb(12 89 85) 57%, rgb(27 73 61 / 96%) 73%, rgb(26 64 56) 89%, rgb(29 69 60) 100%);
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}