/* Style for the header */
#header {
  /* background-color: #007bff; */ /* Background color for the header */
  /* color: #fff; */ /* Text color */
  /* padding: 10px; */ /* Add padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}

.dasboard-logo {
  text-decoration: none; /* Remove the default text decoration */
}

.toggle-sidebar-btn {
  font-size: 24px; /* Adjust the font size for the toggle button */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Style for the top navigation bar */
#top-nav {
  background: linear-gradient(-111deg, rgb(16 73 55), rgb(20 73 51), rgb(41 89 70)); /* Background color */
  border-bottom: 1px solid #ccc; /* Add a border at the bottom */
  padding: 10px 0; /* Add some padding */
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
.offcanvas.show:not(.hiding) .nav-link, .offcanvas.showing .nav-link {
  color: #000;
}

.d-contents{
  display: contents !important;
}

/* Icon links (if needed) */
.top-nav-icons {
  /* Add your styles for icon links here if needed */
}

@font-face {
  font-family: 'Nico-Moji';
  src:url('../fonts/Nico-Moji.ttf.woff') format('woff'),
      url('../fonts/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
      url('../fonts/Nico-Moji.ttf.eot'),
      url('../fonts/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  margin: 0;
  position: relative;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Nico-Moji';
  display: inline-block;
  width: 95px;
  flex-shrink: 0;
  color: #000;
  -webkit-text-stroke: 1.7px #fff;
}
.green-bold {
  margin: 0;
  position: relative;
  font-size: 31px;
  line-height: 1px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Nico-Moji';
  display: inline-block;
  width: 95px;
  color: #fff;
  flex-shrink: 0;
  -webkit-text-stroke: 1.4px #0b4033;
}
