
/* Style for the header */
.dasboard-logo {
  text-decoration: none; /* Remove the default text decoration */
}

.toggle-sidebar-btn {
  font-size: 24px; /* Adjust the font size for the toggle button */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Style for the top navigation bar */
#top-nav {
  background: linear-gradient(-111deg, rgb(16 73 55), rgb(20 73 51), rgb(41 89 70)); /* Background color */
  border-bottom: 1px solid #ccc; /* Add a border at the bottom */
  padding: 10px 0; /* Add some padding */
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
.offcanvas.show:not(.hiding) .nav-link, .offcanvas.showing .nav-link {
  color: #000;
}

.d-contents{
  display: contents !important;
}

/* Icon links (if needed) */
.top-nav-icons {
  /* Add your styles for icon links here if needed */
}

@font-face {
  font-family: 'Nico-Moji';
  src:url('../fonts/Nico-Moji.ttf.woff') format('woff'),
      url('../fonts/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
      url('../fonts/Nico-Moji.ttf.eot'),
      url('../fonts/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  margin: 0;
  position: relative;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: 'Nico-Moji';
  display: inline-block;
  width: 95px;
  flex-shrink: 1;
  color: #000;
  -webkit-text-stroke: 0.1px #fff;
}
.green-bold {
  margin: 0;
  position: relative;
  font-size: 31px;
  line-height: 1px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Nico-Moji';
  display: inline-block;
  width: 95px;
  color: #fff;
  flex-shrink: 0;
  -webkit-text-stroke: 1.4px #0b4033;
}

/* Scrollbar OVERFLOW Y */
::-webkit-scrollbar {
  position: relative;
  z-index: 1;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(3 94 75 / 11%);
  border-radius: 7px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background-color: rgb(229 229 229 / 0%);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #ece4e4;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="%236d9dc5"><path d="M5 3L1 7h8L5 3z"/></svg>');
  height: 6px;
}

/* Down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="%236d9dc5"><path d="M5 7L1 3h8L5 7z"/></svg>');
  height: 6px;
}

::-webkit-scrollbar-button:single-button:hover {
  background-color: #d0cbcb;
}

/* Scrollbar OVERFLOW X */
::-webkit-scrollbar {
  position: relative;
  z-index: 1;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(3 94 75 / 11%);
  border-radius: 7px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: rgb(229 229 229 / 0%);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #ece4e4;
  display: none;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Left arrow */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="%236d9dc5"><path d="M3 5l4 4V1z"/></svg>');
  width: 10px;
}

/* Right arrow */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="%236d9dc5"><path d="M7 5L3 1v8z"/></svg>');
  width: 10px;
}

::-webkit-scrollbar-button:single-button:hover {
  background-color: #d0cbcb;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}