body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-open-sans: "Open Sans";
  --font-nico-moji: "Nico Moji";
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-2xs: 11px;
  --font-size-69xl: 88px;

  /* Colors */
  --color-powderblue: #b5e2e2;
  --color-gray-100: rgba(25, 25, 25, 0.95);
  --color-gray-200: rgba(25, 25, 25, 0.9);
  --color-gray-300: rgba(3, 3, 3, 0.42);
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-6xs: 7px;
  --gap-7xs: 6px;
  --gap-578xl: 597px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-base: 16px;
}
