.w-50 {
  width: 50px !important;
}

.mw-50 {
  max-width: 50px !important;
}

.h-50 {
  height: 50px !important;
}

.mh-50 {
  max-height: 50px !important;
}

.cqw-1 {
  max-width: calc(1 * 9.7px) !important;
}

.cqw-2 {
  max-width: calc(2 * 9.7px) !important;
}

.cqw-3 {
  max-width: calc(3 * 9.7px) !important;
}

.cqw-4 {
  max-width: calc(4 * 9.7px) !important;
}

.cqw-5 {
  max-width: calc(5 * 9.7px) !important;
}

.cqw-6 {
  max-width: calc(6 * 9.7px) !important;
}

.cqw-7 {
  max-width: calc(7 * 9.7px) !important;
}

.cqw-8 {
  max-width: calc(8 * 9.7px) !important;
}

.cqw-9 {
  max-width: calc(9 * 9.7px) !important;
}

.cqw-10 {
  max-width: calc(10 * 9.7px) !important;
}

.cqw-11 {
  max-width: calc(11 * 9.7px) !important;
}

.cqw-12 {
  max-width: calc(12 * 9.7px) !important;
}

.cqw-13 {
  max-width: calc(13 * 9.7px) !important;
}

.cqw-14 {
  max-width: calc(14 * 9.7px) !important;
}

.cqw-15 {
  max-width: calc(15 * 9.7px) !important;
}

.cqw-16 {
  max-width: calc(16 * 9.7px) !important;
}

.cqw-17 {
  max-width: calc(17 * 9.7px) !important;
}

.cqw-18 {
  max-width: calc(18 * 9.7px) !important;
}

.cqw-19 {
  max-width: calc(19 * 9.7px) !important;
}

.cqw-20 {
  max-width: calc(20 * 9.7px) !important;
}

.cqw-21 {
  max-width: calc(21 * 9.7px) !important;
}

.cqw-22 {
  max-width: calc(22 * 9.7px) !important;
}

.cqw-23 {
  max-width: calc(23 * 9.7px) !important;
}

.cqw-24 {
  max-width: calc(24 * 9.7px) !important;
}

.cqw-25 {
  max-width: calc(25 * 9.7px) !important;
}

.cqw-26 {
  max-width: calc(26 * 9.7px) !important;
}

.cqw-27 {
  max-width: calc(27 * 9.7px) !important;
}

.cqw-28 {
  max-width: calc(28 * 9.7px) !important;
}

.cqw-29 {
  max-width: calc(29 * 9.7px) !important;
}

.cqw-30 {
  max-width: calc(30 * 9.7px) !important;
}

.cqw-31 {
  max-width: calc(31 * 9.7px) !important;
}

.cqw-32 {
  max-width: calc(32 * 9.7px) !important;
}

.cqw-33 {
  max-width: calc(33 * 9.7px) !important;
}

.cqw-34 {
  max-width: calc(34 * 9.7px) !important;
}

.cqw-35 {
  max-width: calc(35 * 9.7px) !important;
}

.cqw-36 {
  max-width: calc(36 * 9.7px) !important;
}

.cqw-37 {
  max-width: calc(37 * 9.7px) !important;
}

.cqw-38 {
  max-width: calc(38 * 9.7px) !important;
}

.cqw-39 {
  max-width: calc(39 * 9.7px) !important;
}

.cqw-40 {
  max-width: calc(40 * 9.7px) !important;
}

.cqw-41 {
  max-width: calc(41 * 9.7px) !important;
}

.cqw-42 {
  max-width: calc(42 * 9.7px) !important;
}

.cqw-43 {
  max-width: calc(43 * 9.7px) !important;
}

.cqw-44 {
  max-width: calc(44 * 9.7px) !important;
}

.cqw-45 {
  max-width: calc(45 * 9.7px) !important;
}

.cqw-46 {
  max-width: calc(46 * 9.7px) !important;
}

.cqw-47 {
  max-width: calc(47 * 9.7px) !important;
}

.cqw-48 {
  max-width: calc(48 * 9.7px) !important;
}

.cqw-49 {
  max-width: calc(49 * 9.7px) !important;
}

.cqw-50 {
  max-width: calc(50 * 9.7px) !important;
}

.cqw-51 {
  max-width: calc(51 * 9.7px) !important;
}

.cqw-52 {
  max-width: calc(52 * 9.7px) !important;
}

.cqw-53 {
  max-width: calc(53 * 9.7px) !important;
}

.cqw-54 {
  max-width: calc(54 * 9.7px) !important;
}

.cqw-55 {
  max-width: calc(55 * 9.7px) !important;
}

.cqw-56 {
  max-width: calc(56 * 9.7px) !important;
}

.cqw-57 {
  max-width: calc(57 * 9.7px) !important;
}

.cqw-58 {
  max-width: calc(58 * 9.7px) !important;
}

.cqw-59 {
  max-width: calc(59 * 9.7px) !important;
}

.cqw-60 {
  max-width: calc(60 * 9.7px) !important;
}

.cqw-61 {
  max-width: calc(61 * 9.7px) !important;
}

.cqw-62 {
  max-width: calc(62 * 9.7px) !important;
}

.cqw-63 {
  max-width: calc(63 * 9.7px) !important;
}

.cqw-64 {
  max-width: calc(64 * 9.7px) !important;
}

.cqw-65 {
  max-width: calc(65 * 9.7px) !important;
}

.cqw-66 {
  max-width: calc(66 * 9.7px) !important;
}

.cqw-67 {
  max-width: calc(67 * 9.7px) !important;
}

.cqw-68 {
  max-width: calc(68 * 9.7px) !important;
}

.cqw-69 {
  max-width: calc(69 * 9.7px) !important;
}

.cqw-70 {
  max-width: calc(70 * 9.7px) !important;
}

.cqw-71 {
  max-width: calc(71 * 9.7px) !important;
}

.cqw-72 {
  max-width: calc(72 * 9.7px) !important;
}

.cqw-73 {
  max-width: calc(73 * 9.7px) !important;
}

.cqw-74 {
  max-width: calc(74 * 9.7px) !important;
}

.cqw-75 {
  max-width: calc(75 * 9.7px) !important;
}

.cqw-76 {
  max-width: calc(76 * 9.7px) !important;
}

.cqw-77 {
  max-width: calc(77 * 9.7px) !important;
}

.cqw-78 {
  max-width: calc(78 * 9.7px) !important;
}

.cqw-79 {
  max-width: calc(79 * 9.7px) !important;
}

.cqw-80 {
  max-width: calc(80 * 9.7px) !important;
}

.cqw-81 {
  max-width: calc(81 * 9.7px) !important;
}

.cqw-82 {
  max-width: calc(82 * 9.7px) !important;
}

.cqw-83 {
  max-width: calc(83 * 9.7px) !important;
}

.cqw-84 {
  max-width: calc(84 * 9.7px) !important;
}

.cqw-85 {
  max-width: calc(85 * 9.7px) !important;
}

.cqw-86 {
  max-width: calc(86 * 9.7px) !important;
}

.cqw-87 {
  max-width: calc(87 * 9.7px) !important;
}

.cqw-88 {
  max-width: calc(88 * 9.7px) !important;
}

.cqw-89 {
  max-width: calc(89 * 9.7px) !important;
}

.cqw-90 {
  max-width: calc(90 * 9.7px) !important;
}

.cqw-91 {
  max-width: calc(91 * 9.7px) !important;
}

.cqw-92 {
  max-width: calc(92 * 9.7px) !important;
}

.cqw-93 {
  max-width: calc(93 * 9.7px) !important;
}

.cqw-94 {
  max-width: calc(94 * 9.7px) !important;
}

.cqw-95 {
  max-width: calc(95 * 9.7px) !important;
}

.cqw-96 {
  max-width: calc(96 * 9.7px) !important;
}

.cqw-97 {
  max-width: calc(97 * 9.7px) !important;
}

.cqw-98 {
  max-width: calc(98 * 9.7px) !important;
}

.cqw-99 {
  max-width: calc(99 * 9.7px) !important;
}

.cqw-100 {
  max-width: calc(100 * 9.7px) !important;
}

.cqh-1 {
  max-height: calc(1 * 9.7px) !important;
}

.cqh-2 {
  max-height: calc(2 * 9.7px) !important;
}

.cqh-3 {
  max-height: calc(3 * 9.7px) !important;
}

.cqh-4 {
  max-height: calc(4 * 9.7px) !important;
}

.cqh-5 {
  max-height: calc(5 * 9.7px) !important;
}

.cqh-6 {
  max-height: calc(6 * 9.7px) !important;
}

.cqh-7 {
  max-height: calc(7 * 9.7px) !important;
}

.cqh-8 {
  max-height: calc(8 * 9.7px) !important;
}

.cqh-9 {
  max-height: calc(9 * 9.7px) !important;
}

.cqh-10 {
  max-height: calc(10 * 9.7px) !important;
}

.cqh-11 {
  max-height: calc(11 * 9.7px) !important;
}

.cqh-12 {
  max-height: calc(12 * 9.7px) !important;
}

.cqh-13 {
  max-height: calc(13 * 9.7px) !important;
}

.cqh-14 {
  max-height: calc(14 * 9.7px) !important;
}

.cqh-15 {
  max-height: calc(15 * 9.7px) !important;
}

.cqh-16 {
  max-height: calc(16 * 9.7px) !important;
}

.cqh-17 {
  max-height: calc(17 * 9.7px) !important;
}

.cqh-18 {
  max-height: calc(18 * 9.7px) !important;
}

.cqh-19 {
  max-height: calc(19 * 9.7px) !important;
}

.cqh-20 {
  max-height: calc(20 * 9.7px) !important;
}

.cqh-21 {
  max-height: calc(21 * 9.7px) !important;
}

.cqh-22 {
  max-height: calc(22 * 9.7px) !important;
}

.cqh-23 {
  max-height: calc(23 * 9.7px) !important;
}

.cqh-24 {
  max-height: calc(24 * 9.7px) !important;
}

.cqh-25 {
  max-height: calc(25 * 9.7px) !important;
}

.cqh-26 {
  max-height: calc(26 * 9.7px) !important;
}

.cqh-27 {
  max-height: calc(27 * 9.7px) !important;
}

.cqh-28 {
  max-height: calc(28 * 9.7px) !important;
}

.cqh-29 {
  max-height: calc(29 * 9.7px) !important;
}

.cqh-30 {
  max-height: calc(30 * 9.7px) !important;
}

.cqh-31 {
  max-height: calc(31 * 9.7px) !important;
}

.cqh-32 {
  max-height: calc(32 * 9.7px) !important;
}

.cqh-33 {
  max-height: calc(33 * 9.7px) !important;
}

.cqh-34 {
  max-height: calc(34 * 9.7px) !important;
}

.cqh-35 {
  max-height: calc(35 * 9.7px) !important;
}

.cqh-36 {
  max-height: calc(36 * 9.7px) !important;
}

.cqh-37 {
  max-height: calc(37 * 9.7px) !important;
}

.cqh-38 {
  max-height: calc(38 * 9.7px) !important;
}

.cqh-39 {
  max-height: calc(39 * 9.7px) !important;
}

.cqh-40 {
  max-height: calc(40 * 9.7px) !important;
}

.cqh-41 {
  max-height: calc(41 * 9.7px) !important;
}

.cqh-42 {
  max-height: calc(42 * 9.7px) !important;
}

.cqh-43 {
  max-height: calc(43 * 9.7px) !important;
}

.cqh-44 {
  max-height: calc(44 * 9.7px) !important;
}

.cqh-45 {
  max-height: calc(45 * 9.7px) !important;
}

.cqh-46 {
  max-height: calc(46 * 9.7px) !important;
}

.cqh-47 {
  max-height: calc(47 * 9.7px) !important;
}

.cqh-48 {
  max-height: calc(48 * 9.7px) !important;
}

.cqh-49 {
  max-height: calc(49 * 9.7px) !important;
}

.cqh-50 {
  max-height: calc(50 * 9.7px) !important;
}

.cqh-51 {
  max-height: calc(51 * 9.7px) !important;
}

.cqh-52 {
  max-height: calc(52 * 9.7px) !important;
}

.cqh-53 {
  max-height: calc(53 * 9.7px) !important;
}

.cqh-54 {
  max-height: calc(54 * 9.7px) !important;
}

.cqh-55 {
  max-height: calc(55 * 9.7px) !important;
}

.cqh-56 {
  max-height: calc(56 * 9.7px) !important;
}

.cqh-57 {
  max-height: calc(57 * 9.7px) !important;
}

.cqh-58 {
  max-height: calc(58 * 9.7px) !important;
}

.cqh-59 {
  max-height: calc(59 * 9.7px) !important;
}

.cqh-60 {
  max-height: calc(60 * 9.7px) !important;
}

.cqh-61 {
  max-height: calc(61 * 9.7px) !important;
}

.cqh-62 {
  max-height: calc(62 * 9.7px) !important;
}

.cqh-63 {
  max-height: calc(63 * 9.7px) !important;
}

.cqh-64 {
  max-height: calc(64 * 9.7px) !important;
}

.cqh-65 {
  max-height: calc(65 * 9.7px) !important;
}

.cqh-66 {
  max-height: calc(66 * 9.7px) !important;
}

.cqh-67 {
  max-height: calc(67 * 9.7px) !important;
}

.cqh-68 {
  max-height: calc(68 * 9.7px) !important;
}

.cqh-69 {
  max-height: calc(69 * 9.7px) !important;
}

.cqh-70 {
  max-height: calc(70 * 9.7px) !important;
}

.cqh-71 {
  max-height: calc(71 * 9.7px) !important;
}

.cqh-72 {
  max-height: calc(72 * 9.7px) !important;
}

.cqh-73 {
  max-height: calc(73 * 9.7px) !important;
}

.cqh-74 {
  max-height: calc(74 * 9.7px) !important;
}

.cqh-75 {
  max-height: calc(75 * 9.7px) !important;
}

.cqh-76 {
  max-height: calc(76 * 9.7px) !important;
}

.cqh-77 {
  max-height: calc(77 * 9.7px) !important;
}

.cqh-78 {
  max-height: calc(78 * 9.7px) !important;
}

.cqh-79 {
  max-height: calc(79 * 9.7px) !important;
}

.cqh-80 {
  max-height: calc(80 * 9.7px) !important;
}

.cqh-81 {
  max-height: calc(81 * 9.7px) !important;
}

.cqh-82 {
  max-height: calc(82 * 9.7px) !important;
}

.cqh-83 {
  max-height: calc(83 * 9.7px) !important;
}

.cqh-84 {
  max-height: calc(84 * 9.7px) !important;
}

.cqh-85 {
  max-height: calc(85 * 9.7px) !important;
}

.cqh-86 {
  max-height: calc(86 * 9.7px) !important;
}

.cqh-87 {
  max-height: calc(87 * 9.7px) !important;
}

.cqh-88 {
  max-height: calc(88 * 9.7px) !important;
}

.cqh-89 {
  max-height: calc(89 * 9.7px) !important;
}

.cqh-90 {
  max-height: calc(90 * 9.7px) !important;
}

.cqh-91 {
  max-height: calc(91 * 9.7px) !important;
}

.cqh-92 {
  max-height: calc(92 * 9.7px) !important;
}

.cqh-93 {
  max-height: calc(93 * 9.7px) !important;
}

.cqh-94 {
  max-height: calc(94 * 9.7px) !important;
}

.cqh-95 {
  max-height: calc(95 * 9.7px) !important;
}

.cqh-96 {
  max-height: calc(96 * 9.7px) !important;
}

.cqh-97 {
  max-height: calc(97 * 9.7px) !important;
}

.cqh-98 {
  max-height: calc(98 * 9.7px) !important;
}

.cqh-99 {
  max-height: calc(99 * 9.7px) !important;
}

.cqh-100 {
  max-height: calc(100 * 9.7px) !important;
}

@media screen and (max-width: 480px) {
  .cqw-1 {
    max-width: calc(1 * 12px) !important;
  }
  .cqw-2 {
    max-width: calc(2 * 12px) !important;
  }
  .cqw-3 {
    max-width: calc(3 * 12px) !important;
  }
  .cqw-4 {
    max-width: calc(4 * 12px) !important;
  }
  .cqw-5 {
    max-width: calc(5 * 12px) !important;
  }
  .cqw-6 {
    max-width: calc(6 * 12px) !important;
  }
  .cqw-7 {
    max-width: calc(7 * 12px) !important;
  }
  .cqw-8 {
    max-width: calc(8 * 12px) !important;
  }
  .cqw-9 {
    max-width: calc(9 * 12px) !important;
  }
  .cqw-10 {
    max-width: calc(10 * 12px) !important;
  }
  .cqw-11 {
    max-width: calc(11 * 12px) !important;
  }
  .cqw-12 {
    max-width: calc(12 * 12px) !important;
  }
  .cqw-13 {
    max-width: calc(13 * 12px) !important;
  }
  .cqw-14 {
    max-width: calc(14 * 12px) !important;
  }
  .cqw-15 {
    max-width: calc(15 * 12px) !important;
  }
  .cqw-16 {
    max-width: calc(16 * 12px) !important;
  }
  .cqw-17 {
    max-width: calc(17 * 12px) !important;
  }
  .cqw-18 {
    max-width: calc(18 * 12px) !important;
  }
  .cqw-19 {
    max-width: calc(19 * 12px) !important;
  }
  .cqw-20 {
    max-width: calc(20 * 12px) !important;
  }
  .cqw-21 {
    max-width: calc(21 * 12px) !important;
  }
  .cqw-22 {
    max-width: calc(22 * 12px) !important;
  }
  .cqw-23 {
    max-width: calc(23 * 12px) !important;
  }
  .cqw-24 {
    max-width: calc(24 * 12px) !important;
  }
  .cqw-25 {
    max-width: calc(25 * 12px) !important;
  }
  .cqw-26 {
    max-width: calc(26 * 12px) !important;
  }
  .cqw-27 {
    max-width: calc(27 * 12px) !important;
  }
  .cqw-28 {
    max-width: calc(28 * 12px) !important;
  }
  .cqw-29 {
    max-width: calc(29 * 12px) !important;
  }
  .cqw-30 {
    max-width: calc(30 * 12px) !important;
  }
  .cqw-31 {
    max-width: calc(31 * 12px) !important;
  }
  .cqw-32 {
    max-width: calc(32 * 12px) !important;
  }
  .cqw-33 {
    max-width: calc(33 * 12px) !important;
  }
  .cqw-34 {
    max-width: calc(34 * 12px) !important;
  }
  .cqw-35 {
    max-width: calc(35 * 12px) !important;
  }
  .cqw-36 {
    max-width: calc(36 * 12px) !important;
  }
  .cqw-37 {
    max-width: calc(37 * 12px) !important;
  }
  .cqw-38 {
    max-width: calc(38 * 12px) !important;
  }
  .cqw-39 {
    max-width: calc(39 * 12px) !important;
  }
  .cqw-40 {
    max-width: calc(40 * 12px) !important;
  }
  .cqw-41 {
    max-width: calc(41 * 12px) !important;
  }
  .cqw-42 {
    max-width: calc(42 * 12px) !important;
  }
  .cqw-43 {
    max-width: calc(43 * 12px) !important;
  }
  .cqw-44 {
    max-width: calc(44 * 12px) !important;
  }
  .cqw-45 {
    max-width: calc(45 * 12px) !important;
  }
  .cqw-46 {
    max-width: calc(46 * 12px) !important;
  }
  .cqw-47 {
    max-width: calc(47 * 12px) !important;
  }
  .cqw-48 {
    max-width: calc(48 * 12px) !important;
  }
  .cqw-49 {
    max-width: calc(49 * 12px) !important;
  }
  .cqw-50 {
    max-width: calc(50 * 12px) !important;
  }
  .cqw-51 {
    max-width: calc(51 * 12px) !important;
  }
  .cqw-52 {
    max-width: calc(52 * 12px) !important;
  }
  .cqw-53 {
    max-width: calc(53 * 12px) !important;
  }
  .cqw-54 {
    max-width: calc(54 * 12px) !important;
  }
  .cqw-55 {
    max-width: calc(55 * 12px) !important;
  }
  .cqw-56 {
    max-width: calc(56 * 12px) !important;
  }
  .cqw-57 {
    max-width: calc(57 * 12px) !important;
  }
  .cqw-58 {
    max-width: calc(58 * 12px) !important;
  }
  .cqw-59 {
    max-width: calc(59 * 12px) !important;
  }
  .cqw-60 {
    max-width: calc(60 * 12px) !important;
  }
  .cqw-61 {
    max-width: calc(61 * 12px) !important;
  }
  .cqw-62 {
    max-width: calc(62 * 12px) !important;
  }
  .cqw-63 {
    max-width: calc(63 * 12px) !important;
  }
  .cqw-64 {
    max-width: calc(64 * 12px) !important;
  }
  .cqw-65 {
    max-width: calc(65 * 12px) !important;
  }
  .cqw-66 {
    max-width: calc(66 * 12px) !important;
  }
  .cqw-67 {
    max-width: calc(67 * 12px) !important;
  }
  .cqw-68 {
    max-width: calc(68 * 12px) !important;
  }
  .cqw-69 {
    max-width: calc(69 * 12px) !important;
  }
  .cqw-70 {
    max-width: calc(70 * 12px) !important;
  }
  .cqw-71 {
    max-width: calc(71 * 12px) !important;
  }
  .cqw-72 {
    max-width: calc(72 * 12px) !important;
  }
  .cqw-73 {
    max-width: calc(73 * 12px) !important;
  }
  .cqw-74 {
    max-width: calc(74 * 12px) !important;
  }
  .cqw-75 {
    max-width: calc(75 * 12px) !important;
  }
  .cqw-76 {
    max-width: calc(76 * 12px) !important;
  }
  .cqw-77 {
    max-width: calc(77 * 12px) !important;
  }
  .cqw-78 {
    max-width: calc(78 * 12px) !important;
  }
  .cqw-79 {
    max-width: calc(79 * 12px) !important;
  }
  .cqw-80 {
    max-width: calc(80 * 12px) !important;
  }
  .cqw-81 {
    max-width: calc(81 * 12px) !important;
  }
  .cqw-82 {
    max-width: calc(82 * 12px) !important;
  }
  .cqw-83 {
    max-width: calc(83 * 12px) !important;
  }
  .cqw-84 {
    max-width: calc(84 * 12px) !important;
  }
  .cqw-85 {
    max-width: calc(85 * 12px) !important;
  }
  .cqw-86 {
    max-width: calc(86 * 12px) !important;
  }
  .cqw-87 {
    max-width: calc(87 * 12px) !important;
  }
  .cqw-88 {
    max-width: calc(88 * 12px) !important;
  }
  .cqw-89 {
    max-width: calc(89 * 12px) !important;
  }
  .cqw-90 {
    max-width: calc(90 * 12px) !important;
  }
  .cqw-91 {
    max-width: calc(91 * 12px) !important;
  }
  .cqw-92 {
    max-width: calc(92 * 12px) !important;
  }
  .cqw-93 {
    max-width: calc(93 * 12px) !important;
  }
  .cqw-94 {
    max-width: calc(94 * 12px) !important;
  }
  .cqw-95 {
    max-width: calc(95 * 12px) !important;
  }
  .cqw-96 {
    max-width: calc(96 * 12px) !important;
  }
  .cqw-97 {
    max-width: calc(97 * 12px) !important;
  }
  .cqw-98 {
    max-width: calc(98 * 12px) !important;
  }
  .cqw-99 {
    max-width: calc(99 * 12px) !important;
  }
  .cqw-100 {
    max-width: calc(100 * 12px) !important;
  }
  .cqh-1 {
    max-height: calc(1 * 12px) !important;
  }
  .cqh-2 {
    max-height: calc(2 * 12px) !important;
  }
  .cqh-3 {
    max-height: calc(3 * 12px) !important;
  }
  .cqh-4 {
    max-height: calc(4 * 12px) !important;
  }
  .cqh-5 {
    max-height: calc(5 * 12px) !important;
  }
  .cqh-6 {
    max-height: calc(6 * 12px) !important;
  }
  .cqh-7 {
    max-height: calc(7 * 12px) !important;
  }
  .cqh-8 {
    max-height: calc(8 * 12px) !important;
  }
  .cqh-9 {
    max-height: calc(9 * 12px) !important;
  }
  .cqh-10 {
    max-height: calc(10 * 12px) !important;
  }
  .cqh-11 {
    max-height: calc(11 * 12px) !important;
  }
  .cqh-12 {
    max-height: calc(12 * 12px) !important;
  }
  .cqh-13 {
    max-height: calc(13 * 12px) !important;
  }
  .cqh-14 {
    max-height: calc(14 * 12px) !important;
  }
  .cqh-15 {
    max-height: calc(15 * 12px) !important;
  }
  .cqh-16 {
    max-height: calc(16 * 12px) !important;
  }
  .cqh-17 {
    max-height: calc(17 * 12px) !important;
  }
  .cqh-18 {
    max-height: calc(18 * 12px) !important;
  }
  .cqh-19 {
    max-height: calc(19 * 12px) !important;
  }
  .cqh-20 {
    max-height: calc(20 * 12px) !important;
  }
  .cqh-21 {
    max-height: calc(21 * 12px) !important;
  }
  .cqh-22 {
    max-height: calc(22 * 12px) !important;
  }
  .cqh-23 {
    max-height: calc(23 * 12px) !important;
  }
  .cqh-24 {
    max-height: calc(24 * 12px) !important;
  }
  .cqh-25 {
    max-height: calc(25 * 12px) !important;
  }
  .cqh-26 {
    max-height: calc(26 * 12px) !important;
  }
  .cqh-27 {
    max-height: calc(27 * 12px) !important;
  }
  .cqh-28 {
    max-height: calc(28 * 12px) !important;
  }
  .cqh-29 {
    max-height: calc(29 * 12px) !important;
  }
  .cqh-30 {
    max-height: calc(30 * 12px) !important;
  }
  .cqh-31 {
    max-height: calc(31 * 12px) !important;
  }
  .cqh-32 {
    max-height: calc(32 * 12px) !important;
  }
  .cqh-33 {
    max-height: calc(33 * 12px) !important;
  }
  .cqh-34 {
    max-height: calc(34 * 12px) !important;
  }
  .cqh-35 {
    max-height: calc(35 * 12px) !important;
  }
  .cqh-36 {
    max-height: calc(36 * 12px) !important;
  }
  .cqh-37 {
    max-height: calc(37 * 12px) !important;
  }
  .cqh-38 {
    max-height: calc(38 * 12px) !important;
  }
  .cqh-39 {
    max-height: calc(39 * 12px) !important;
  }
  .cqh-40 {
    max-height: calc(40 * 12px) !important;
  }
  .cqh-41 {
    max-height: calc(41 * 12px) !important;
  }
  .cqh-42 {
    max-height: calc(42 * 12px) !important;
  }
  .cqh-43 {
    max-height: calc(43 * 12px) !important;
  }
  .cqh-44 {
    max-height: calc(44 * 12px) !important;
  }
  .cqh-45 {
    max-height: calc(45 * 12px) !important;
  }
  .cqh-46 {
    max-height: calc(46 * 12px) !important;
  }
  .cqh-47 {
    max-height: calc(47 * 12px) !important;
  }
  .cqh-48 {
    max-height: calc(48 * 12px) !important;
  }
  .cqh-49 {
    max-height: calc(49 * 12px) !important;
  }
  .cqh-50 {
    max-height: calc(50 * 12px) !important;
  }
  .cqh-51 {
    max-height: calc(51 * 12px) !important;
  }
  .cqh-52 {
    max-height: calc(52 * 12px) !important;
  }
  .cqh-53 {
    max-height: calc(53 * 12px) !important;
  }
  .cqh-54 {
    max-height: calc(54 * 12px) !important;
  }
  .cqh-55 {
    max-height: calc(55 * 12px) !important;
  }
  .cqh-56 {
    max-height: calc(56 * 12px) !important;
  }
  .cqh-57 {
    max-height: calc(57 * 12px) !important;
  }
  .cqh-58 {
    max-height: calc(58 * 12px) !important;
  }
  .cqh-59 {
    max-height: calc(59 * 12px) !important;
  }
  .cqh-60 {
    max-height: calc(60 * 12px) !important;
  }
  .cqh-61 {
    max-height: calc(61 * 12px) !important;
  }
  .cqh-62 {
    max-height: calc(62 * 12px) !important;
  }
  .cqh-63 {
    max-height: calc(63 * 12px) !important;
  }
  .cqh-64 {
    max-height: calc(64 * 12px) !important;
  }
  .cqh-65 {
    max-height: calc(65 * 12px) !important;
  }
  .cqh-66 {
    max-height: calc(66 * 12px) !important;
  }
  .cqh-67 {
    max-height: calc(67 * 12px) !important;
  }
  .cqh-68 {
    max-height: calc(68 * 12px) !important;
  }
  .cqh-69 {
    max-height: calc(69 * 12px) !important;
  }
  .cqh-70 {
    max-height: calc(70 * 12px) !important;
  }
  .cqh-71 {
    max-height: calc(71 * 12px) !important;
  }
  .cqh-72 {
    max-height: calc(72 * 12px) !important;
  }
  .cqh-73 {
    max-height: calc(73 * 12px) !important;
  }
  .cqh-74 {
    max-height: calc(74 * 12px) !important;
  }
  .cqh-75 {
    max-height: calc(75 * 12px) !important;
  }
  .cqh-76 {
    max-height: calc(76 * 12px) !important;
  }
  .cqh-77 {
    max-height: calc(77 * 12px) !important;
  }
  .cqh-78 {
    max-height: calc(78 * 12px) !important;
  }
  .cqh-79 {
    max-height: calc(79 * 12px) !important;
  }
  .cqh-80 {
    max-height: calc(80 * 12px) !important;
  }
  .cqh-81 {
    max-height: calc(81 * 12px) !important;
  }
  .cqh-82 {
    max-height: calc(82 * 12px) !important;
  }
  .cqh-83 {
    max-height: calc(83 * 12px) !important;
  }
  .cqh-84 {
    max-height: calc(84 * 12px) !important;
  }
  .cqh-85 {
    max-height: calc(85 * 12px) !important;
  }
  .cqh-86 {
    max-height: calc(86 * 12px) !important;
  }
  .cqh-87 {
    max-height: calc(87 * 12px) !important;
  }
  .cqh-88 {
    max-height: calc(88 * 12px) !important;
  }
  .cqh-89 {
    max-height: calc(89 * 12px) !important;
  }
  .cqh-90 {
    max-height: calc(90 * 12px) !important;
  }
  .cqh-91 {
    max-height: calc(91 * 12px) !important;
  }
  .cqh-92 {
    max-height: calc(92 * 12px) !important;
  }
  .cqh-93 {
    max-height: calc(93 * 12px) !important;
  }
  .cqh-94 {
    max-height: calc(94 * 12px) !important;
  }
  .cqh-95 {
    max-height: calc(95 * 12px) !important;
  }
  .cqh-96 {
    max-height: calc(96 * 12px) !important;
  }
  .cqh-97 {
    max-height: calc(97 * 12px) !important;
  }
  .cqh-98 {
    max-height: calc(98 * 12px) !important;
  }
  .cqh-99 {
    max-height: calc(99 * 12px) !important;
  }
  .cqh-100 {
    max-height: calc(100 * 12px) !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .cqw-1 {
    max-width: calc(1 * 14px) !important;
  }
  .cqw-2 {
    max-width: calc(2 * 14px) !important;
  }
  .cqw-3 {
    max-width: calc(3 * 14px) !important;
  }
  .cqw-4 {
    max-width: calc(4 * 14px) !important;
  }
  .cqw-5 {
    max-width: calc(5 * 14px) !important;
  }
  .cqw-6 {
    max-width: calc(6 * 14px) !important;
  }
  .cqw-7 {
    max-width: calc(7 * 14px) !important;
  }
  .cqw-8 {
    max-width: calc(8 * 14px) !important;
  }
  .cqw-9 {
    max-width: calc(9 * 14px) !important;
  }
  .cqw-10 {
    max-width: calc(10 * 14px) !important;
  }
  .cqw-11 {
    max-width: calc(11 * 14px) !important;
  }
  .cqw-12 {
    max-width: calc(12 * 14px) !important;
  }
  .cqw-13 {
    max-width: calc(13 * 14px) !important;
  }
  .cqw-14 {
    max-width: calc(14 * 14px) !important;
  }
  .cqw-15 {
    max-width: calc(15 * 14px) !important;
  }
  .cqw-16 {
    max-width: calc(16 * 14px) !important;
  }
  .cqw-17 {
    max-width: calc(17 * 14px) !important;
  }
  .cqw-18 {
    max-width: calc(18 * 14px) !important;
  }
  .cqw-19 {
    max-width: calc(19 * 14px) !important;
  }
  .cqw-20 {
    max-width: calc(20 * 14px) !important;
  }
  .cqw-21 {
    max-width: calc(21 * 14px) !important;
  }
  .cqw-22 {
    max-width: calc(22 * 14px) !important;
  }
  .cqw-23 {
    max-width: calc(23 * 14px) !important;
  }
  .cqw-24 {
    max-width: calc(24 * 14px) !important;
  }
  .cqw-25 {
    max-width: calc(25 * 14px) !important;
  }
  .cqw-26 {
    max-width: calc(26 * 14px) !important;
  }
  .cqw-27 {
    max-width: calc(27 * 14px) !important;
  }
  .cqw-28 {
    max-width: calc(28 * 14px) !important;
  }
  .cqw-29 {
    max-width: calc(29 * 14px) !important;
  }
  .cqw-30 {
    max-width: calc(30 * 14px) !important;
  }
  .cqw-31 {
    max-width: calc(31 * 14px) !important;
  }
  .cqw-32 {
    max-width: calc(32 * 14px) !important;
  }
  .cqw-33 {
    max-width: calc(33 * 14px) !important;
  }
  .cqw-34 {
    max-width: calc(34 * 14px) !important;
  }
  .cqw-35 {
    max-width: calc(35 * 14px) !important;
  }
  .cqw-36 {
    max-width: calc(36 * 14px) !important;
  }
  .cqw-37 {
    max-width: calc(37 * 14px) !important;
  }
  .cqw-38 {
    max-width: calc(38 * 14px) !important;
  }
  .cqw-39 {
    max-width: calc(39 * 14px) !important;
  }
  .cqw-40 {
    max-width: calc(40 * 14px) !important;
  }
  .cqw-41 {
    max-width: calc(41 * 14px) !important;
  }
  .cqw-42 {
    max-width: calc(42 * 14px) !important;
  }
  .cqw-43 {
    max-width: calc(43 * 14px) !important;
  }
  .cqw-44 {
    max-width: calc(44 * 14px) !important;
  }
  .cqw-45 {
    max-width: calc(45 * 14px) !important;
  }
  .cqw-46 {
    max-width: calc(46 * 14px) !important;
  }
  .cqw-47 {
    max-width: calc(47 * 14px) !important;
  }
  .cqw-48 {
    max-width: calc(48 * 14px) !important;
  }
  .cqw-49 {
    max-width: calc(49 * 14px) !important;
  }
  .cqw-50 {
    max-width: calc(50 * 14px) !important;
  }
  .cqw-51 {
    max-width: calc(51 * 14px) !important;
  }
  .cqw-52 {
    max-width: calc(52 * 14px) !important;
  }
  .cqw-53 {
    max-width: calc(53 * 14px) !important;
  }
  .cqw-54 {
    max-width: calc(54 * 14px) !important;
  }
  .cqw-55 {
    max-width: calc(55 * 14px) !important;
  }
  .cqw-56 {
    max-width: calc(56 * 14px) !important;
  }
  .cqw-57 {
    max-width: calc(57 * 14px) !important;
  }
  .cqw-58 {
    max-width: calc(58 * 14px) !important;
  }
  .cqw-59 {
    max-width: calc(59 * 14px) !important;
  }
  .cqw-60 {
    max-width: calc(60 * 14px) !important;
  }
  .cqw-61 {
    max-width: calc(61 * 14px) !important;
  }
  .cqw-62 {
    max-width: calc(62 * 14px) !important;
  }
  .cqw-63 {
    max-width: calc(63 * 14px) !important;
  }
  .cqw-64 {
    max-width: calc(64 * 14px) !important;
  }
  .cqw-65 {
    max-width: calc(65 * 14px) !important;
  }
  .cqw-66 {
    max-width: calc(66 * 14px) !important;
  }
  .cqw-67 {
    max-width: calc(67 * 14px) !important;
  }
  .cqw-68 {
    max-width: calc(68 * 14px) !important;
  }
  .cqw-69 {
    max-width: calc(69 * 14px) !important;
  }
  .cqw-70 {
    max-width: calc(70 * 14px) !important;
  }
  .cqw-71 {
    max-width: calc(71 * 14px) !important;
  }
  .cqw-72 {
    max-width: calc(72 * 14px) !important;
  }
  .cqw-73 {
    max-width: calc(73 * 14px) !important;
  }
  .cqw-74 {
    max-width: calc(74 * 14px) !important;
  }
  .cqw-75 {
    max-width: calc(75 * 14px) !important;
  }
  .cqw-76 {
    max-width: calc(76 * 14px) !important;
  }
  .cqw-77 {
    max-width: calc(77 * 14px) !important;
  }
  .cqw-78 {
    max-width: calc(78 * 14px) !important;
  }
  .cqw-79 {
    max-width: calc(79 * 14px) !important;
  }
  .cqw-80 {
    max-width: calc(80 * 14px) !important;
  }
  .cqw-81 {
    max-width: calc(81 * 14px) !important;
  }
  .cqw-82 {
    max-width: calc(82 * 14px) !important;
  }
  .cqw-83 {
    max-width: calc(83 * 14px) !important;
  }
  .cqw-84 {
    max-width: calc(84 * 14px) !important;
  }
  .cqw-85 {
    max-width: calc(85 * 14px) !important;
  }
  .cqw-86 {
    max-width: calc(86 * 14px) !important;
  }
  .cqw-87 {
    max-width: calc(87 * 14px) !important;
  }
  .cqw-88 {
    max-width: calc(88 * 14px) !important;
  }
  .cqw-89 {
    max-width: calc(89 * 14px) !important;
  }
  .cqw-90 {
    max-width: calc(90 * 14px) !important;
  }
  .cqw-91 {
    max-width: calc(91 * 14px) !important;
  }
  .cqw-92 {
    max-width: calc(92 * 14px) !important;
  }
  .cqw-93 {
    max-width: calc(93 * 14px) !important;
  }
  .cqw-94 {
    max-width: calc(94 * 14px) !important;
  }
  .cqw-95 {
    max-width: calc(95 * 14px) !important;
  }
  .cqw-96 {
    max-width: calc(96 * 14px) !important;
  }
  .cqw-97 {
    max-width: calc(97 * 14px) !important;
  }
  .cqw-98 {
    max-width: calc(98 * 14px) !important;
  }
  .cqw-99 {
    max-width: calc(99 * 14px) !important;
  }
  .cqw-100 {
    max-width: calc(100 * 14px) !important;
  }
  .cqh-1 {
    max-height: calc(1 * 14px) !important;
  }
  .cqh-2 {
    max-height: calc(2 * 14px) !important;
  }
  .cqh-3 {
    max-height: calc(3 * 14px) !important;
  }
  .cqh-4 {
    max-height: calc(4 * 14px) !important;
  }
  .cqh-5 {
    max-height: calc(5 * 14px) !important;
  }
  .cqh-6 {
    max-height: calc(6 * 14px) !important;
  }
  .cqh-7 {
    max-height: calc(7 * 14px) !important;
  }
  .cqh-8 {
    max-height: calc(8 * 14px) !important;
  }
  .cqh-9 {
    max-height: calc(9 * 14px) !important;
  }
  .cqh-10 {
    max-height: calc(10 * 14px) !important;
  }
  .cqh-11 {
    max-height: calc(11 * 14px) !important;
  }
  .cqh-12 {
    max-height: calc(12 * 14px) !important;
  }
  .cqh-13 {
    max-height: calc(13 * 14px) !important;
  }
  .cqh-14 {
    max-height: calc(14 * 14px) !important;
  }
  .cqh-15 {
    max-height: calc(15 * 14px) !important;
  }
  .cqh-16 {
    max-height: calc(16 * 14px) !important;
  }
  .cqh-17 {
    max-height: calc(17 * 14px) !important;
  }
  .cqh-18 {
    max-height: calc(18 * 14px) !important;
  }
  .cqh-19 {
    max-height: calc(19 * 14px) !important;
  }
  .cqh-20 {
    max-height: calc(20 * 14px) !important;
  }
  .cqh-21 {
    max-height: calc(21 * 14px) !important;
  }
  .cqh-22 {
    max-height: calc(22 * 14px) !important;
  }
  .cqh-23 {
    max-height: calc(23 * 14px) !important;
  }
  .cqh-24 {
    max-height: calc(24 * 14px) !important;
  }
  .cqh-25 {
    max-height: calc(25 * 14px) !important;
  }
  .cqh-26 {
    max-height: calc(26 * 14px) !important;
  }
  .cqh-27 {
    max-height: calc(27 * 14px) !important;
  }
  .cqh-28 {
    max-height: calc(28 * 14px) !important;
  }
  .cqh-29 {
    max-height: calc(29 * 14px) !important;
  }
  .cqh-30 {
    max-height: calc(30 * 14px) !important;
  }
  .cqh-31 {
    max-height: calc(31 * 14px) !important;
  }
  .cqh-32 {
    max-height: calc(32 * 14px) !important;
  }
  .cqh-33 {
    max-height: calc(33 * 14px) !important;
  }
  .cqh-34 {
    max-height: calc(34 * 14px) !important;
  }
  .cqh-35 {
    max-height: calc(35 * 14px) !important;
  }
  .cqh-36 {
    max-height: calc(36 * 14px) !important;
  }
  .cqh-37 {
    max-height: calc(37 * 14px) !important;
  }
  .cqh-38 {
    max-height: calc(38 * 14px) !important;
  }
  .cqh-39 {
    max-height: calc(39 * 14px) !important;
  }
  .cqh-40 {
    max-height: calc(40 * 14px) !important;
  }
  .cqh-41 {
    max-height: calc(41 * 14px) !important;
  }
  .cqh-42 {
    max-height: calc(42 * 14px) !important;
  }
  .cqh-43 {
    max-height: calc(43 * 14px) !important;
  }
  .cqh-44 {
    max-height: calc(44 * 14px) !important;
  }
  .cqh-45 {
    max-height: calc(45 * 14px) !important;
  }
  .cqh-46 {
    max-height: calc(46 * 14px) !important;
  }
  .cqh-47 {
    max-height: calc(47 * 14px) !important;
  }
  .cqh-48 {
    max-height: calc(48 * 14px) !important;
  }
  .cqh-49 {
    max-height: calc(49 * 14px) !important;
  }
  .cqh-50 {
    max-height: calc(50 * 14px) !important;
  }
  .cqh-51 {
    max-height: calc(51 * 14px) !important;
  }
  .cqh-52 {
    max-height: calc(52 * 14px) !important;
  }
  .cqh-53 {
    max-height: calc(53 * 14px) !important;
  }
  .cqh-54 {
    max-height: calc(54 * 14px) !important;
  }
  .cqh-55 {
    max-height: calc(55 * 14px) !important;
  }
  .cqh-56 {
    max-height: calc(56 * 14px) !important;
  }
  .cqh-57 {
    max-height: calc(57 * 14px) !important;
  }
  .cqh-58 {
    max-height: calc(58 * 14px) !important;
  }
  .cqh-59 {
    max-height: calc(59 * 14px) !important;
  }
  .cqh-60 {
    max-height: calc(60 * 14px) !important;
  }
  .cqh-61 {
    max-height: calc(61 * 14px) !important;
  }
  .cqh-62 {
    max-height: calc(62 * 14px) !important;
  }
  .cqh-63 {
    max-height: calc(63 * 14px) !important;
  }
  .cqh-64 {
    max-height: calc(64 * 14px) !important;
  }
  .cqh-65 {
    max-height: calc(65 * 14px) !important;
  }
  .cqh-66 {
    max-height: calc(66 * 14px) !important;
  }
  .cqh-67 {
    max-height: calc(67 * 14px) !important;
  }
  .cqh-68 {
    max-height: calc(68 * 14px) !important;
  }
  .cqh-69 {
    max-height: calc(69 * 14px) !important;
  }
  .cqh-70 {
    max-height: calc(70 * 14px) !important;
  }
  .cqh-71 {
    max-height: calc(71 * 14px) !important;
  }
  .cqh-72 {
    max-height: calc(72 * 14px) !important;
  }
  .cqh-73 {
    max-height: calc(73 * 14px) !important;
  }
  .cqh-74 {
    max-height: calc(74 * 14px) !important;
  }
  .cqh-75 {
    max-height: calc(75 * 14px) !important;
  }
  .cqh-76 {
    max-height: calc(76 * 14px) !important;
  }
  .cqh-77 {
    max-height: calc(77 * 14px) !important;
  }
  .cqh-78 {
    max-height: calc(78 * 14px) !important;
  }
  .cqh-79 {
    max-height: calc(79 * 14px) !important;
  }
  .cqh-80 {
    max-height: calc(80 * 14px) !important;
  }
  .cqh-81 {
    max-height: calc(81 * 14px) !important;
  }
  .cqh-82 {
    max-height: calc(82 * 14px) !important;
  }
  .cqh-83 {
    max-height: calc(83 * 14px) !important;
  }
  .cqh-84 {
    max-height: calc(84 * 14px) !important;
  }
  .cqh-85 {
    max-height: calc(85 * 14px) !important;
  }
  .cqh-86 {
    max-height: calc(86 * 14px) !important;
  }
  .cqh-87 {
    max-height: calc(87 * 14px) !important;
  }
  .cqh-88 {
    max-height: calc(88 * 14px) !important;
  }
  .cqh-89 {
    max-height: calc(89 * 14px) !important;
  }
  .cqh-90 {
    max-height: calc(90 * 14px) !important;
  }
  .cqh-91 {
    max-height: calc(91 * 14px) !important;
  }
  .cqh-92 {
    max-height: calc(92 * 14px) !important;
  }
  .cqh-93 {
    max-height: calc(93 * 14px) !important;
  }
  .cqh-94 {
    max-height: calc(94 * 14px) !important;
  }
  .cqh-95 {
    max-height: calc(95 * 14px) !important;
  }
  .cqh-96 {
    max-height: calc(96 * 14px) !important;
  }
  .cqh-97 {
    max-height: calc(97 * 14px) !important;
  }
  .cqh-98 {
    max-height: calc(98 * 14px) !important;
  }
  .cqh-99 {
    max-height: calc(99 * 14px) !important;
  }
  .cqh-100 {
    max-height: calc(100 * 14px) !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .cqw-1 {
    max-width: calc(1 * 9.5px) !important;
  }
  .cqw-2 {
    max-width: calc(2 * 9.5px) !important;
  }
  .cqw-3 {
    max-width: calc(3 * 9.5px) !important;
  }
  .cqw-4 {
    max-width: calc(4 * 9.5px) !important;
  }
  .cqw-5 {
    max-width: calc(5 * 9.5px) !important;
  }
  .cqw-6 {
    max-width: calc(6 * 9.5px) !important;
  }
  .cqw-7 {
    max-width: calc(7 * 9.5px) !important;
  }
  .cqw-8 {
    max-width: calc(8 * 9.5px) !important;
  }
  .cqw-9 {
    max-width: calc(9 * 9.5px) !important;
  }
  .cqw-10 {
    max-width: calc(10 * 9.5px) !important;
  }
  .cqw-11 {
    max-width: calc(11 * 9.5px) !important;
  }
  .cqw-12 {
    max-width: calc(12 * 9.5px) !important;
  }
  .cqw-13 {
    max-width: calc(13 * 9.5px) !important;
  }
  .cqw-14 {
    max-width: calc(14 * 9.5px) !important;
  }
  .cqw-15 {
    max-width: calc(15 * 9.5px) !important;
  }
  .cqw-16 {
    max-width: calc(16 * 9.5px) !important;
  }
  .cqw-17 {
    max-width: calc(17 * 9.5px) !important;
  }
  .cqw-18 {
    max-width: calc(18 * 9.5px) !important;
  }
  .cqw-19 {
    max-width: calc(19 * 9.5px) !important;
  }
  .cqw-20 {
    max-width: calc(20 * 9.5px) !important;
  }
  .cqw-21 {
    max-width: calc(21 * 9.5px) !important;
  }
  .cqw-22 {
    max-width: calc(22 * 9.5px) !important;
  }
  .cqw-23 {
    max-width: calc(23 * 9.5px) !important;
  }
  .cqw-24 {
    max-width: calc(24 * 9.5px) !important;
  }
  .cqw-25 {
    max-width: calc(25 * 9.5px) !important;
  }
  .cqw-26 {
    max-width: calc(26 * 9.5px) !important;
  }
  .cqw-27 {
    max-width: calc(27 * 9.5px) !important;
  }
  .cqw-28 {
    max-width: calc(28 * 9.5px) !important;
  }
  .cqw-29 {
    max-width: calc(29 * 9.5px) !important;
  }
  .cqw-30 {
    max-width: calc(30 * 9.5px) !important;
  }
  .cqw-31 {
    max-width: calc(31 * 9.5px) !important;
  }
  .cqw-32 {
    max-width: calc(32 * 9.5px) !important;
  }
  .cqw-33 {
    max-width: calc(33 * 9.5px) !important;
  }
  .cqw-34 {
    max-width: calc(34 * 9.5px) !important;
  }
  .cqw-35 {
    max-width: calc(35 * 9.5px) !important;
  }
  .cqw-36 {
    max-width: calc(36 * 9.5px) !important;
  }
  .cqw-37 {
    max-width: calc(37 * 9.5px) !important;
  }
  .cqw-38 {
    max-width: calc(38 * 9.5px) !important;
  }
  .cqw-39 {
    max-width: calc(39 * 9.5px) !important;
  }
  .cqw-40 {
    max-width: calc(40 * 9.5px) !important;
  }
  .cqw-41 {
    max-width: calc(41 * 9.5px) !important;
  }
  .cqw-42 {
    max-width: calc(42 * 9.5px) !important;
  }
  .cqw-43 {
    max-width: calc(43 * 9.5px) !important;
  }
  .cqw-44 {
    max-width: calc(44 * 9.5px) !important;
  }
  .cqw-45 {
    max-width: calc(45 * 9.5px) !important;
  }
  .cqw-46 {
    max-width: calc(46 * 9.5px) !important;
  }
  .cqw-47 {
    max-width: calc(47 * 9.5px) !important;
  }
  .cqw-48 {
    max-width: calc(48 * 9.5px) !important;
  }
  .cqw-49 {
    max-width: calc(49 * 9.5px) !important;
  }
  .cqw-50 {
    max-width: calc(50 * 9.5px) !important;
  }
  .cqw-51 {
    max-width: calc(51 * 9.5px) !important;
  }
  .cqw-52 {
    max-width: calc(52 * 9.5px) !important;
  }
  .cqw-53 {
    max-width: calc(53 * 9.5px) !important;
  }
  .cqw-54 {
    max-width: calc(54 * 9.5px) !important;
  }
  .cqw-55 {
    max-width: calc(55 * 9.5px) !important;
  }
  .cqw-56 {
    max-width: calc(56 * 9.5px) !important;
  }
  .cqw-57 {
    max-width: calc(57 * 9.5px) !important;
  }
  .cqw-58 {
    max-width: calc(58 * 9.5px) !important;
  }
  .cqw-59 {
    max-width: calc(59 * 9.5px) !important;
  }
  .cqw-60 {
    max-width: calc(60 * 9.5px) !important;
  }
  .cqw-61 {
    max-width: calc(61 * 9.5px) !important;
  }
  .cqw-62 {
    max-width: calc(62 * 9.5px) !important;
  }
  .cqw-63 {
    max-width: calc(63 * 9.5px) !important;
  }
  .cqw-64 {
    max-width: calc(64 * 9.5px) !important;
  }
  .cqw-65 {
    max-width: calc(65 * 9.5px) !important;
  }
  .cqw-66 {
    max-width: calc(66 * 9.5px) !important;
  }
  .cqw-67 {
    max-width: calc(67 * 9.5px) !important;
  }
  .cqw-68 {
    max-width: calc(68 * 9.5px) !important;
  }
  .cqw-69 {
    max-width: calc(69 * 9.5px) !important;
  }
  .cqw-70 {
    max-width: calc(70 * 9.5px) !important;
  }
  .cqw-71 {
    max-width: calc(71 * 9.5px) !important;
  }
  .cqw-72 {
    max-width: calc(72 * 9.5px) !important;
  }
  .cqw-73 {
    max-width: calc(73 * 9.5px) !important;
  }
  .cqw-74 {
    max-width: calc(74 * 9.5px) !important;
  }
  .cqw-75 {
    max-width: calc(75 * 9.5px) !important;
  }
  .cqw-76 {
    max-width: calc(76 * 9.5px) !important;
  }
  .cqw-77 {
    max-width: calc(77 * 9.5px) !important;
  }
  .cqw-78 {
    max-width: calc(78 * 9.5px) !important;
  }
  .cqw-79 {
    max-width: calc(79 * 9.5px) !important;
  }
  .cqw-80 {
    max-width: calc(80 * 9.5px) !important;
  }
  .cqw-81 {
    max-width: calc(81 * 9.5px) !important;
  }
  .cqw-82 {
    max-width: calc(82 * 9.5px) !important;
  }
  .cqw-83 {
    max-width: calc(83 * 9.5px) !important;
  }
  .cqw-84 {
    max-width: calc(84 * 9.5px) !important;
  }
  .cqw-85 {
    max-width: calc(85 * 9.5px) !important;
  }
  .cqw-86 {
    max-width: calc(86 * 9.5px) !important;
  }
  .cqw-87 {
    max-width: calc(87 * 9.5px) !important;
  }
  .cqw-88 {
    max-width: calc(88 * 9.5px) !important;
  }
  .cqw-89 {
    max-width: calc(89 * 9.5px) !important;
  }
  .cqw-90 {
    max-width: calc(90 * 9.5px) !important;
  }
  .cqw-91 {
    max-width: calc(91 * 9.5px) !important;
  }
  .cqw-92 {
    max-width: calc(92 * 9.5px) !important;
  }
  .cqw-93 {
    max-width: calc(93 * 9.5px) !important;
  }
  .cqw-94 {
    max-width: calc(94 * 9.5px) !important;
  }
  .cqw-95 {
    max-width: calc(95 * 9.5px) !important;
  }
  .cqw-96 {
    max-width: calc(96 * 9.5px) !important;
  }
  .cqw-97 {
    max-width: calc(97 * 9.5px) !important;
  }
  .cqw-98 {
    max-width: calc(98 * 9.5px) !important;
  }
  .cqw-99 {
    max-width: calc(99 * 9.5px) !important;
  }
  .cqw-100 {
    max-width: calc(100 * 9.5px) !important;
  }
  .cqh-1 {
    max-height: calc(1 * 9.5px) !important;
  }
  .cqh-2 {
    max-height: calc(2 * 9.5px) !important;
  }
  .cqh-3 {
    max-height: calc(3 * 9.5px) !important;
  }
  .cqh-4 {
    max-height: calc(4 * 9.5px) !important;
  }
  .cqh-5 {
    max-height: calc(5 * 9.5px) !important;
  }
  .cqh-6 {
    max-height: calc(6 * 9.5px) !important;
  }
  .cqh-7 {
    max-height: calc(7 * 9.5px) !important;
  }
  .cqh-8 {
    max-height: calc(8 * 9.5px) !important;
  }
  .cqh-9 {
    max-height: calc(9 * 9.5px) !important;
  }
  .cqh-10 {
    max-height: calc(10 * 9.5px) !important;
  }
  .cqh-11 {
    max-height: calc(11 * 9.5px) !important;
  }
  .cqh-12 {
    max-height: calc(12 * 9.5px) !important;
  }
  .cqh-13 {
    max-height: calc(13 * 9.5px) !important;
  }
  .cqh-14 {
    max-height: calc(14 * 9.5px) !important;
  }
  .cqh-15 {
    max-height: calc(15 * 9.5px) !important;
  }
  .cqh-16 {
    max-height: calc(16 * 9.5px) !important;
  }
  .cqh-17 {
    max-height: calc(17 * 9.5px) !important;
  }
  .cqh-18 {
    max-height: calc(18 * 9.5px) !important;
  }
  .cqh-19 {
    max-height: calc(19 * 9.5px) !important;
  }
  .cqh-20 {
    max-height: calc(20 * 9.5px) !important;
  }
  .cqh-21 {
    max-height: calc(21 * 9.5px) !important;
  }
  .cqh-22 {
    max-height: calc(22 * 9.5px) !important;
  }
  .cqh-23 {
    max-height: calc(23 * 9.5px) !important;
  }
  .cqh-24 {
    max-height: calc(24 * 9.5px) !important;
  }
  .cqh-25 {
    max-height: calc(25 * 9.5px) !important;
  }
  .cqh-26 {
    max-height: calc(26 * 9.5px) !important;
  }
  .cqh-27 {
    max-height: calc(27 * 9.5px) !important;
  }
  .cqh-28 {
    max-height: calc(28 * 9.5px) !important;
  }
  .cqh-29 {
    max-height: calc(29 * 9.5px) !important;
  }
  .cqh-30 {
    max-height: calc(30 * 9.5px) !important;
  }
  .cqh-31 {
    max-height: calc(31 * 9.5px) !important;
  }
  .cqh-32 {
    max-height: calc(32 * 9.5px) !important;
  }
  .cqh-33 {
    max-height: calc(33 * 9.5px) !important;
  }
  .cqh-34 {
    max-height: calc(34 * 9.5px) !important;
  }
  .cqh-35 {
    max-height: calc(35 * 9.5px) !important;
  }
  .cqh-36 {
    max-height: calc(36 * 9.5px) !important;
  }
  .cqh-37 {
    max-height: calc(37 * 9.5px) !important;
  }
  .cqh-38 {
    max-height: calc(38 * 9.5px) !important;
  }
  .cqh-39 {
    max-height: calc(39 * 9.5px) !important;
  }
  .cqh-40 {
    max-height: calc(40 * 9.5px) !important;
  }
  .cqh-41 {
    max-height: calc(41 * 9.5px) !important;
  }
  .cqh-42 {
    max-height: calc(42 * 9.5px) !important;
  }
  .cqh-43 {
    max-height: calc(43 * 9.5px) !important;
  }
  .cqh-44 {
    max-height: calc(44 * 9.5px) !important;
  }
  .cqh-45 {
    max-height: calc(45 * 9.5px) !important;
  }
  .cqh-46 {
    max-height: calc(46 * 9.5px) !important;
  }
  .cqh-47 {
    max-height: calc(47 * 9.5px) !important;
  }
  .cqh-48 {
    max-height: calc(48 * 9.5px) !important;
  }
  .cqh-49 {
    max-height: calc(49 * 9.5px) !important;
  }
  .cqh-50 {
    max-height: calc(50 * 9.5px) !important;
  }
  .cqh-51 {
    max-height: calc(51 * 9.5px) !important;
  }
  .cqh-52 {
    max-height: calc(52 * 9.5px) !important;
  }
  .cqh-53 {
    max-height: calc(53 * 9.5px) !important;
  }
  .cqh-54 {
    max-height: calc(54 * 9.5px) !important;
  }
  .cqh-55 {
    max-height: calc(55 * 9.5px) !important;
  }
  .cqh-56 {
    max-height: calc(56 * 9.5px) !important;
  }
  .cqh-57 {
    max-height: calc(57 * 9.5px) !important;
  }
  .cqh-58 {
    max-height: calc(58 * 9.5px) !important;
  }
  .cqh-59 {
    max-height: calc(59 * 9.5px) !important;
  }
  .cqh-60 {
    max-height: calc(60 * 9.5px) !important;
  }
  .cqh-61 {
    max-height: calc(61 * 9.5px) !important;
  }
  .cqh-62 {
    max-height: calc(62 * 9.5px) !important;
  }
  .cqh-63 {
    max-height: calc(63 * 9.5px) !important;
  }
  .cqh-64 {
    max-height: calc(64 * 9.5px) !important;
  }
  .cqh-65 {
    max-height: calc(65 * 9.5px) !important;
  }
  .cqh-66 {
    max-height: calc(66 * 9.5px) !important;
  }
  .cqh-67 {
    max-height: calc(67 * 9.5px) !important;
  }
  .cqh-68 {
    max-height: calc(68 * 9.5px) !important;
  }
  .cqh-69 {
    max-height: calc(69 * 9.5px) !important;
  }
  .cqh-70 {
    max-height: calc(70 * 9.5px) !important;
  }
  .cqh-71 {
    max-height: calc(71 * 9.5px) !important;
  }
  .cqh-72 {
    max-height: calc(72 * 9.5px) !important;
  }
  .cqh-73 {
    max-height: calc(73 * 9.5px) !important;
  }
  .cqh-74 {
    max-height: calc(74 * 9.5px) !important;
  }
  .cqh-75 {
    max-height: calc(75 * 9.5px) !important;
  }
  .cqh-76 {
    max-height: calc(76 * 9.5px) !important;
  }
  .cqh-77 {
    max-height: calc(77 * 9.5px) !important;
  }
  .cqh-78 {
    max-height: calc(78 * 9.5px) !important;
  }
  .cqh-79 {
    max-height: calc(79 * 9.5px) !important;
  }
  .cqh-80 {
    max-height: calc(80 * 9.5px) !important;
  }
  .cqh-81 {
    max-height: calc(81 * 9.5px) !important;
  }
  .cqh-82 {
    max-height: calc(82 * 9.5px) !important;
  }
  .cqh-83 {
    max-height: calc(83 * 9.5px) !important;
  }
  .cqh-84 {
    max-height: calc(84 * 9.5px) !important;
  }
  .cqh-85 {
    max-height: calc(85 * 9.5px) !important;
  }
  .cqh-86 {
    max-height: calc(86 * 9.5px) !important;
  }
  .cqh-87 {
    max-height: calc(87 * 9.5px) !important;
  }
  .cqh-88 {
    max-height: calc(88 * 9.5px) !important;
  }
  .cqh-89 {
    max-height: calc(89 * 9.5px) !important;
  }
  .cqh-90 {
    max-height: calc(90 * 9.5px) !important;
  }
  .cqh-91 {
    max-height: calc(91 * 9.5px) !important;
  }
  .cqh-92 {
    max-height: calc(92 * 9.5px) !important;
  }
  .cqh-93 {
    max-height: calc(93 * 9.5px) !important;
  }
  .cqh-94 {
    max-height: calc(94 * 9.5px) !important;
  }
  .cqh-95 {
    max-height: calc(95 * 9.5px) !important;
  }
  .cqh-96 {
    max-height: calc(96 * 9.5px) !important;
  }
  .cqh-97 {
    max-height: calc(97 * 9.5px) !important;
  }
  .cqh-98 {
    max-height: calc(98 * 9.5px) !important;
  }
  .cqh-99 {
    max-height: calc(99 * 9.5px) !important;
  }
  .cqh-100 {
    max-height: calc(100 * 9.5px) !important;
  }
}

/*# sourceMappingURL=width-height.css.map */
